@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

.head_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    list-style-type: none;
    margin-top: 20px;
    position: relative;
    margin-right: 20px;
}


.nav-ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu {
    display: none;
}

.nav-item {
    display: flex;
    gap: 10px;

}

.nav-item-sub {
    font-weight: 600;
}

.main-nav-item a  {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
}


.main-nav-item a:hover,
.main-nav-item a:active {
    color: inherit; 
    border-color:white;
}    



@media(max-width: 767px) {
    .menu {
        display: block;
        z-index: 2;
    }

    .nav-ul {
        position: fixed;
        width: 55%;
        height: 100vh;
        background-color: var(--white);
        top: 0;
        right: 0;
        z-index: 1;
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding: 5rem 2rem;
        transform: translateX(100%);
        /* background-color: rgba(11, 11, 11, 0.2); */
        background-color: rgb(22, 26, 36, 0.2);
        backdrop-filter: blur(10px);
        font-size: 30px;
    }

    .oluchi {
        transform: translateX(0);
    }

    /* .nav-li {
        display: block;
        margin: auto;
        width: max-content;
        margin-bottom: 1rem;
    } */


}



@media (min-width: 768px) {
    .head-border {
        display: none;
    }
    .nav-ul {
        display: flex;
        list-style-type: none;
        gap: 15px;
        font-family: "Barlow Condensed";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2.362px;
        background-color: rgb(25, 27, 37);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    /* .main-nav-item a  {
        color: white;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 3px solid transparent;
        transition: border-color 0.3s;
    }


    .main-nav-item a:hover,
    .main-nav-item a:active {
        color: inherit; 
        border-color:white;
    }     */



}

@media (min-width: 992px) { 
    .nav-ul {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-right: -30px;
    }

    .head-border {
        display: block;
        width: 50%;
        border-top: 1.5px solid rgb(57, 59, 67) ;
        position: absolute;
        top: 30px;
        left: 150px;
        z-index: 1;
    }
}

@media (min-width: 1050px) {
    .head-border {
        left: 200px;
    }
}

@media (min-width: 1150px) {
    .head-border {
        left: 200px;
    }
}

